// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.post_body{padding: 10px 20px; border-left: 2px solid;}
.padding-top-20{padding-top: 20px;}
.padding-bottom-post{padding-bottom: 20px;}
.comment_body{padding-left: 10px;}
